output/calc_final.apk filter=lfs diff=lfs merge=lfs -text
output/calc_merged_unsigned.apk filter=lfs diff=lfs merge=lfs -text
output/castle_final.apk filter=lfs diff=lfs merge=lfs -text
output/castle_patched.apk filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
